mixin promo(modifier)
  section.promo&attributes(attributes)
    h1.promo__title Акции и выгодные предложения
    ul.promo__area
      li.promo__item
        h2.promo__item-title Название акции
        p.promo__description Сайт рыба текст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.
      li.promo__item
        h2.promo__item-title Название акции
        p.promo__description Сайт рыба текст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.
      li.promo__item
        h2.promo__item-title Название акции
        p.promo__description Сайт рыба текст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.
      li.promo__item
        h2.promo__item-title Название акции
        p.promo__description Сайт рыба текст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.