include ../blocks/header/header.pug
include ../blocks/footer/footer.pug
include ../blocks/welcome/welcome.pug
include ../blocks/about/about.pug
include ../blocks/card/card.pug
include ../blocks/font/font.pug
include ../blocks/space/space.pug
include ../blocks/transport/transport.pug
include ../blocks/questions/questions.pug
include ../blocks/contacts/contacts.pug
include ../blocks/promo/promo.pug
include ../blocks/aboutHouse/aboutHouse.pug
include ../blocks/infoHouse/infoHouse.pug
include ../blocks/otherHouse/otherHouse.pug
include ../blocks/doc/doc.pug
include ../blocks/reserve/reserve.pug
