head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=Edge")
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=0")
    meta(name="format-detection", content="telephone=no")
    title zis is village
    link(rel='shortcut icon', href="img/favicon.ico", type="image/x-icon")
    link(rel='stylesheet', href='css/style.css')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/owl.carousel@2.3.4/dist/assets/owl.carousel.min.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js")
    script(src="https://cdn.jsdelivr.net/npm/owl.carousel@2.3.4/dist/owl.carousel.min.js")
