mixin font(modifier)
  section.font&attributes(attributes)
    .font__area
        h2.font__title 
          img.font__icon(src="img/font-icon.png", alt="")
          | Купель
        p.font__text Мягкий свет, ласковые струи гидромассажа и температура воды (35-40°C), окутывающая вас как мягкое одеяло. Есть функция гидромассажа и яркой подсветки. Перед каждым заселением гостей мы тщательно моем купель и наполняем ее чистейшей артезианской водой.
        p.font__text Вместимость купели: 4-6 человек 
        p.font__text Расслабьтесь и насладитесь умиротворением в нашей горячей купели с завораживающим видом на лес!
        .font__slider.swiper
          .swiper-wrapper
            .swiper-slide
              +card("font-photo1.png")
            .swiper-slide
                +card("font-photo2.png")
            .swiper-slide
                +card("font-photo.png")
            .swiper-slide
                +card("font-photo2.png")
            .swiper-slide
                +card("font-photo2.png")
            .swiper-slide
                +card("font-photo2.png")
          .font__pagination