mixin otherHouse(modifier)
  section.otherHouse&attributes(attributes)
    h2.otherHouse__title Другие наши дома:
    .otherHouse__list 
      a.otherHouse__item(href="#" target="_blank")
        img.otherHouse__image(src="img/otherHouse1.png", alt="")
        h3.otherHouse__name Название дома
        p.otherHouse__price Цена аренды
      a.otherHouse__item(href="#" target="_blank")
        img.otherHouse__image(src="img/otherHouse1.png", alt="")
        h3.otherHouse__name Название дома
        p.otherHouse__price Цена аренды
      a.otherHouse__item(href="" target="_blank")
        img.otherHouse__image.otherHouse__image--hidden(src="img/otherHouse1.png", alt="")
        h3.otherHouse__name Скоро построим
        p.otherHouse__price
      a.otherHouse__item(href="" target="_blank")
        img.otherHouse__image.otherHouse__image--hidden(src="img/otherHouse1.png", alt="")
        h3.otherHouse__name Скоро построим
        p.otherHouse__price 