.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 80px 100px;
  &__title {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    font-size: px-to-em(44);
    line-height: lh-to-pct(53, 44);
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    color: #172925;
  }
  &__icon {
    max-width: 100px;
    height: auto;
    margin-right: 26px;
  }
  &__area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    column-gap: 24px;
  }
  &__map {
    width: 100%;
    max-width: 760px;
    height: 100%;
    border-radius: 44px;
  }
  &__info {
    display: flex;
    flex-direction: column;
    row-gap: 36px;
    width: 100%;
    max-width: 496px;
  }
  &__link {
    display: flex;
    align-items: center;
    padding: 24px;
    column-gap: 24px;
    border-radius: 32px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.25);
    background: #fff;
    font-size: px-to-em(24);
    line-height: lh-to-pct(40, 28);
    font-weight: 400;
    color: #010203;
    svg {
      flex-shrink: 0;
    }
    &:hover {
      color: #A04337;
      path {
        fill: #172925;
      }
    }
  }
  @media screen and (max-width: 1199.98px) {
    padding: 0 50px 100px;
    &__title {
      margin-bottom: 20px;
    }
    &__icon {
      max-width: 80px;
      margin-right: 20px;
    }
  }
  @media screen and (max-width: 991.98px) {
    padding: 0 30px 70px;
    &__title {
      font-size: px-to-em(40);
    }
    &__icon {
      max-width: 60px;
      margin-right: 16px;
    }
    &__area {
      column-gap: 16px;
    }
    &__info {
      row-gap: 24px;
    }
    &__link {
      column-gap: 18px;
      padding: 16px;
      font-size: px-to-em(22);
      svg {
        width: 28px;
        height: auto;
      }
    }
    iframe {
      height: 500px;
    }
  }
  @media screen and (max-width: 767.98px) {
    padding: 0 12px 60px;
    &__title {
      margin-bottom: 16px;
      font-size: px-to-em(32);
    }
    &__icon {
      max-width: 50px;
      margin-right: 12px;
    }
    &__area {
      flex-direction: column;
      row-gap: 16px;
    }
    iframe {
      height: 400px;
    }
    &__info {
      max-width: 100%;
      row-gap: 20px;
    }
    &__link {
      column-gap: 12px;
      padding: 16px;
      font-size: px-to-em(20);
      svg {
        width: 24px;
      }
    }
  }
  @media screen and (max-width: 575.98px) {
    &__title {
      margin-bottom: 12px;
      font-size: px-to-em(22);
    }
    &__icon {
      max-width: 40px;
      margin-right: 10px;
    }
    &__info {
      row-gap: 14px;
    }
    &__link {
      column-gap: 10px;
      padding: 10px 14px;
      border-radius: 20px;
      font-size: px-to-em(16);
    }
  }
  @media screen and (max-width: 359.98px) {
    &__title {
      font-size: px-to-em(18);
    }
    &__icon {
      max-width: 30px;
      margin-right: 6px;
    }
    iframe {
      height: 300px;
    }
  }
}
