mixin contacts(modifier)
  section.contacts&attributes(attributes)#contact
    h2.contacts__title
      img.contacts__icon(src="img/contact-icon.png", alt="")
      | Контакты
    .contacts__area
      .contacts__map
        | <iframe src="https://yandex.ru/map-widget/v1/?from=mapframe&ll=29.432006%2C60.180193&mode=search&oid=96986796795&ol=biz&z=17" width="100%" height="500px" frameborder="0" allowfullscreen="true" style="position:relative;"></iframe>
      ul.contacts__info
        li.contacts__item 
          a.contacts__link(href="#")
            include ./img/contact-icon-loc.svg
            | ул. Домостроительная 6. ЛО, посёлок Приветнинское
        li.contacts__item
          a.contacts__link(href="mailto:zisisvillage@mail.ru")
            include ./img/contact-icon-mail.svg
            | zisisvillage@mail.ru
        li.contacts__item
          a.contacts__link(href="https://vk.com/zis_is_village")
            include ./img/contact-icon-vk.svg
            | Группа VK
        li.contacts__item
          a.contacts__link(href="https://t.me/zisisvillage")
            include ./img/contact-icon-tg.svg
            | Бизнес блог в Телеграм