mixin infoHouse(modifier)
  section.infoHouse&attributes(attributes)
    .infoHouse__block
      h2.infoHouse__title В каждом доме предусмотрено:
      ul.infoHouse__advantages-list
        li.infoHouse__advantages-item
          img.infoHouse__advantages-icon(src="img/teapot.png", alt="")
          p.infoHouse__advantages-text Электрический чайник
        li.infoHouse__advantages-item
          img.infoHouse__advantages-icon(src="img/hairdryer.png", alt="")
          p.infoHouse__advantages-text Фен
        li.infoHouse__advantages-item
          img.infoHouse__advantages-icon(src="img/shower.png", alt="")
          p.infoHouse__advantages-text Комфортный душ
        li.infoHouse__advantages-item
          img.infoHouse__advantages-icon(src="img/sofa.png", alt="")
          p.infoHouse__advantages-text Удобный 2-х местный диван
        li.infoHouse__advantages-item
          img.infoHouse__advantages-icon(src="img/wifi.png", alt="")
          p.infoHouse__advantages-text Быстрый Wi-Fi
    .infoHouse__block
      h2.infoHouse__title Информация о Доме
      h3.infoHouse__sub-title Основная информация
      ul.infoHouse__info-list
        li.infoHouse__info-item
          img.infoHouse__info-icon(src="img/tree.png", alt="")
          p.infoHouse__info-text Общая площадь
        li.infoHouse__info-item
          img.infoHouse__info-icon(src="img/tree.png", alt="")
          p.infoHouse__info-text Общая площадь
        li.infoHouse__info-item
          img.infoHouse__info-icon(src="img/tree.png", alt="")
          p.infoHouse__info-text Общая площадь
        li.infoHouse__info-item
          img.infoHouse__info-icon(src="img/tree.png", alt="")
          p.infoHouse__info-text Общая площадь
        li.infoHouse__info-item
          img.infoHouse__info-icon(src="img/tree.png", alt="")
          p.infoHouse__info-text Общая площадь
      h3.infoHouse__sub-title Так же в доме есть:
      ul.infoHouse__info-list
        li.infoHouse__info-item
          img.infoHouse__info-icon(src="img/tree.png", alt="")
          p.infoHouse__info-text Общая площадь
        li.infoHouse__info-item
          img.infoHouse__info-icon(src="img/tree.png", alt="")
          p.infoHouse__info-text Общая площадь
        li.infoHouse__info-item
          img.infoHouse__info-icon(src="img/tree.png", alt="")
          p.infoHouse__info-text Общая площадь
        li.infoHouse__info-item
          img.infoHouse__info-icon(src="img/tree.png", alt="")
          p.infoHouse__info-text Общая площадь
        li.infoHouse__info-item
          img.infoHouse__info-icon(src="img/tree.png", alt="")
          p.infoHouse__info-text Общая площадь
    a.infoHouse__reserve(href="#")
      p.infoHouse__reserve-text.infoHouse__reserve-text--bold Забронировать
      p.infoHouse__reserve-text.infoHouse__reserve-text--light от 8500 руб/сутки