mixin transport(modifier)
  section.transport&attributes(attributes)#way
    h2.transport__title
      img.transport__icon(src="img/transport-icon.png", alt="")
      | Добраться до нас можно
    .transport__tabs
      ul.transport__list
        li.transport__item
          a.transport__link(href="#tab-1")
            include ./img/car.svg
            | На машине
        li.transport__item
          a.transport__link(href="#tab-2")
            include ./img/train.svg
            | На электричке
        li.transport__item
          a.transport__link(href="#tab-3")
            include ./img/bus.svg
            | На автобусе
      .transport__content#tab-1
        img.transport__image(src="img/bus-photo.png", alt="")
        .transport__text-box
          p.transport__text По Приморскому шоссе через Сестрорецк. Время в пути около 1.5 часов
          p.transport__text Из Петербурга по ЗСД, далее по Приморскому шоссе через Зеленогорск. Время в&nbsp;пути около часа.
          p.transport__text Координаты для навигатора: 60.180193, 29.431982
      .transport__content#tab-2
        img.transport__image(src="img/bus-photo.png", alt="")
        .transport__text-box
          p.transport__text Ласточка Финляндский вокзал - Зеленогорск (29 минут) + такси. Вместо Ласточки можно на обычной электричке, ехать 55 минут. Такси от Зеленогорска выйдет примерно в 700 рублей
          p.transport__text Так же ежедневно ходит прямая электричка: Финляндский вокзал – ж/д Приветнинское
          p.transport__text Отправление: 07:55 Прибытие: 9.00
          p.transport__text Отправление: 18:53 Прибытие: 20.07
      .transport__content#tab-3
        img.transport__image(src="img/bus-photo.png", alt="")
        .transport__text-box
          p.transport__text От Зеленогорска можно доехать на автобусах № 213, 304, 420, 420А, 420Б до&nbsp;станции «Станция Приветнинская»