mixin transport(modifier)
  section.transport&attributes(attributes)
    h2.transport__title
      img.transport__icon(src="img/transport-icon.png", alt="")
      | Добраться до нас можно
    .transport__tabs
      ul.transport__list
        li.transport__item
          a.transport__link(href="#tab-1")
            include ./img/car.svg
            | На машине
        li.transport__item
          a.transport__link(href="#tab-2")
            include ./img/train.svg
            | На электричке
        li.transport__item
          a.transport__link(href="#tab-3")
            include ./img/bus.svg
            | На автобусе
        li.transport__item
          a.transport__link(href="#tab-4")
            include ./img/taxi.svg
            | На такси
      .transport__content#tab-1
        img.transport__image(src="img/bus-photo.png", alt="")
        .transport__text-box
          p.transport__text Сайт рыба текст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.
          p.transport__text Сайт рыба текст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.
          p.transport__text Сайт рыба текст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.
      .transport__content#tab-2
        img.transport__image(src="img/bus-photo.png", alt="")
        .transport__text-box
          p.transport__text Сайт рыба текст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.
          p.transport__text Сайт рыба текст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.
          p.transport__text Сайт рыба текст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.
      .transport__content#tab-3
        img.transport__image(src="img/bus-photo.png", alt="")
        .transport__text-box
          p.transport__text Сайт рыба текст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.
          p.transport__text Сайт рыба текст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.
          p.transport__text Сайт рыба текст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.
      .transport__content#tab-4
        img.transport__image(src="img/bus-photo.png", alt="")
        .transport__text-box
          p.transport__text Сайт рыба текст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.
          p.transport__text Сайт рыба текст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.
          p.transport__text Сайт рыба текст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.