mixin questions(modifier)
  section.questions&attributes(attributes)#questions
    h2.questions__title 
      img.questions__icon(src="img/questions-icon.png", alt="")
      | Часто задаваемые вопросы
    ul.questions__list
      li.questions__item
        .questions__wrapper
          p.questions__question Где вы находитесь?
          include ./img/open-icon.svg
        p.questions__answer Адрес дома: ул. Домостроительная 6. Ленинградская область, посёлок Приветнинское (Выборгский район)
      li.questions__item
        .questions__wrapper
          p.questions__question Сколько человек вмещает дом?
          include ./img/open-icon.svg
        p.questions__answer Дом рассчитан на 4 человек (2 спальни по 2 места). При необходимости есть 2 дополнительных места в гостиной (раскладной диван) они оплачиваются отдельно
      li.questions__item
        .questions__wrapper
          p.questions__question Сколько стоит аренда дома?
          include ./img/open-icon.svg
        p.questions__answer При аренде от двух суток стоимость одних суток составит 12 000 рублей в будние, 16 000 рублей в выходные и 18 000 рублей в праздничные дни.
      li.questions__item
        .questions__wrapper
          p.questions__question У вас можно слушать музыку?
          include ./img/open-icon.svg
        p.questions__answer Нужно, для этого подключайтесь к умной колонке Алисе. Только помните, что по правилам общественного порядка, после 23:00 шуметь нельзя - относительно рядом на других участках живут и отдыхают другие люди.
      li.questions__item
        .questions__wrapper
          p.questions__question У вас можно устраивать вечеринки?
          include ./img/open-icon.svg
        p.questions__answer Арендовать дом вы можете по любому личному назначению, который не нарушает закон РФ, включая закон о тишине после 23:00.
      li.questions__item
        .questions__wrapper
          p.questions__question Требуется ли залог?
          include ./img/open-icon.svg
        p.questions__answer Да, в размере 15 000 рублей. Мы его вернём сразу после уборки
      li.questions__item
        .questions__wrapper
          p.questions__question Как закрыть дверь при выезде?
          include ./img/open-icon.svg
        p.questions__answer Закройте дверь снаружи. Приведите дверь в режим плотного закрытия. Для этого с усилием потяните ручку наверх, после этого легко ключ замкнет дверь. Оставьте ключ в металлическом сейфе, закройте крышку, сбейте установленный код. Готово!

