mixin questions(modifier)
  section.questions&attributes(attributes)
    h2.questions__title 
      img.questions__icon(src="img/questions-icon.png", alt="")
      | Остались вопросы?
    ul.questions__list
      li.questions__item
        .questions__wrapper
          p.questions__question Вопрос 1
          include ./img/open-icon.svg
        p.questions__answer Сайт рыба текст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.
      li.questions__item
        .questions__wrapper
          p.questions__question Вопрос 1
          include ./img/open-icon.svg
        p.questions__answer Сайт рыба текст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.
      li.questions__item
        .questions__wrapper
          p.questions__question Вопрос 1
          include ./img/open-icon.svg
        p.questions__answer Сайт рыба текст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.

