mixin welcome(modifier)
  section.welcome&attributes(attributes)
    .welcome__area
      h1.welcome__title Дом у леса с горячей купелью в часе езды от города
      p.welcome__text Посёлок Приветнинское, 65 км от Петербурга
      a.welcome__link(href="reserve.html") Забронировать
    ul.welcome__socials
      li.welcome__socials-item
        a.welcome__socials-link(href="https://t.me/zisisvillage")
          include ./img/welcome-tg.svg
      li.welcome__socials-item
        a.welcome__socials-link(href="https://vk.com/zis_is_village")
          include ./img/welcome-vk.svg
      li.welcome__socials-item
        a.welcome__socials-link(href="https://www.instagram.com/zis_is_village/profilecard/?igsh=NGRvemlrM2h1Z2Jv")
          include ./img/welcome-ig.svg