mixin welcome(modifier)
  section.welcome&attributes(attributes)
    .welcome__area
      h1.welcome__title Забронируй свой лучший отдых сейчас
      p.welcome__text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев.
      a.welcome__link(href="") Забронировать