.header {
  position: absolute;
  top: 30px;
  right: 0;
  left: 0;
  width: 100%;
  background: rgba(23, 41, 37, 0.8);
  z-index: 3;
  &--page {
    position: relative;
    top: 0;
    background: rgba(23, 41, 37, 1);
    .header__sub-menu-list {
      background-color: rgba(23, 41, 37, 0.98);
    }
  }
  &__area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 80px;
  }
  &__logo-link {
    display: flex;
  }
  &__logo {
    max-width: 112px;
    height: auto;
  }
  &__burger-btn {
    display: none;
  }
  &__menu-list {
    display: flex;
    justify-content: space-between;
    column-gap: 40px;
  }
  &__menu-link {
    display: flex;
    align-items: center;
    font-size: px-to-em(20);
    line-height: lh-to-pct(27, 20);
    font-weight: 400;
    border: none;
    outline: none;
    background-color: transparent;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    svg {
      margin-left: 10px;
      path {
        fill: #fff;
      }
      
    }
    &:hover {
      color: #A04337;
      path {
        fill: #A04337;
      }
    }
  }
  &__sub-menu-list {
    position: absolute;
    top: 30px;
    left: -8%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    min-width: 320px;
    max-height: 0;
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
    background-color: rgba(23, 41, 37, 0.8);
    z-index: 3;
    padding: 16px 20px;
    border-radius: 30px;
    box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.25);
  }
  &__menu-item {
    position: relative;
    svg {
      transform: rotate(180deg);
    }
    &--open {
      .header__menu-link--drop {
        color: #A04337;
        svg {
          transform: rotate(0deg);
          path {
            fill: #A04337;
          }
        }
      }
      .header__sub-menu-list {
        max-height: 500px;
        visibility: visible;
        overflow: visible;
        opacity: 1;
      }
    }
  }
  @media screen and (max-width: 1199.98px) {
    &__area {
      padding: 0 50px;
    }
    &__menu-list {
      column-gap: 20px;
    }
  }
  @media screen and (max-width: 991.98px) {
    &__area {
      padding: 0 30px;
    }
    &__logo {
      max-width: 80px;
    }
    &__menu-list {
      column-gap: 20px;
    }
    &__menu-link {
      font-size: px-to-em(16);
      svg {
        width: 16px;
        height: auto;
        margin-left: 6px;
      }
    }
    &__sub-menu-list {
      min-width: 220px;
    }
  }
  @media screen and (max-width: 767.98px) {
    top: 20px;
    &--page {
      top: 0px;
      .header__sub-menu-list {
        background-color: transparent;
      }
    }
    &__area {
      flex-wrap: wrap;
      padding: 0 12px;
    }
    &__logo-link {
      z-index: 5;
    }
    &__burger-btn {
      position: relative;
      display: block;
      width: 50px;
      height: 50px;
      cursor: pointer;
      z-index: 5;
      * {
        transition: .25s ease-in-out;
        box-sizing: border-box;
      }
      &--open {
        .header__burger {
          .header__line {
            width: 0% !important;
          }
          .header__line:nth-child(1) {
            transition-delay: 0s;
          }
          .header__line:nth-child(2) {
            transition-delay: .125s;
          }
          .header__line:nth-child(3) {
            transition-delay: .25s;
          }
        }
        .header__cross {
          .header__line:nth-child(1) {
            height: 85%;
            transition-delay: .625s;
          }
          .header__line:nth-child(2) {
            width: 85%;
            transition-delay: .375s;
          }
        }
      }
    }
    &__line {
      background-color: #fcfcfc;
      border-radius: 2px;
    }
    &__burger {
      position: absolute;
      width: 100%;
      height: 100%;
      .header__line {
        width: 40px;
        height: 4px;
        position: relative;
        top: 1px;
        left: 5px;
        margin: 8px 0;
      }
      .header__line:nth-child(1) {
        transition-delay: .5s;
      }
      .header__line:nth-child(2) {
        transition-delay: .625s;
      }
      .header__line:nth-child(3) {
        transition-delay: .75s;
      }
    }
    &__cross {
      position: absolute;
      height: 100%;
      width: 100%;
      transform: rotate(45deg);
      .header__line:nth-child(1) {
        position: absolute;
        height: 0%;
        width: 4px;
        top: 3px;
        left: 22px;
        transition-delay: 0s;
      }
      .header__line:nth-child(2) {
        position: absolute;
        width: 0%;
        height: 4px;
        left: 3px;
        top: 22px;
        transition-delay: .25s;
      }
    }
    &__menu {
      position: absolute;
      top: -20px;
      left: 0;
      right: 0;
      padding: 80px 20px;
      width: 100%;
      height: 100vh;
      background-color: rgba(23, 41, 37, 0.95);
      transform: translateY(-160%);
      opacity: 0;
      &--open {
        transform: translateY(0%);
        opacity: 1;
      }
    }
    &__menu-list {
      flex-direction: column;
      align-items: center;
      row-gap: 20px;
    }
    &__menu-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      &--open {
        .header__sub-menu-list {
          padding: 20px 0 0;
        }
      }
    }
    &__menu-link {
      font-size: px-to-em(24);
      svg {
        width: 24px;
        height: auto;
        margin-left: 6px;
      }
    }
    &__sub-menu-list {
      position: relative;
      top: 0;
      left: 0;
      padding: 0;
      align-items: center;
      row-gap: 20px;
      background-color: transparent;
      box-shadow: none;
    }
  }
  @media screen and (max-width: 575.98px) {
    &__logo {
      max-width: 70px;
    }
    &__burger-btn {
      width: 40px;
      height: 40px;
    }
    &__line {
      border-radius: 10px;
    }
    &__burger {
      .header__line {
        width: 30px;
        height: 3px;
        top: 3px;
        left: 5px;
        margin: 6px 0;
      }
    }
    &__cross {
      .header__line:nth-child(1) {
        width: 3px;
        top: 3px;
        left: 19px;
      }
      .header__line:nth-child(2) {
        width: 0%;
        height: 3px;
        left: 3px;
        top: 19px;
      }
    }
    &__menu-list {
      row-gap: 16px;
    }
    &__menu-item {
      &--open {
        .header__sub-menu-list {
          padding: 16px 0 0;
        }
      }
    }
    &__menu-link {
      font-size: px-to-em(18);
      svg {
        width: 18px;
        margin-left: 6px;
      }
    }
  }
}