.space {
  &__area {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 80px 100px;
  }
  &__title {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    font-size: px-to-em(44);
    line-height: lh-to-pct(53, 44);
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    color: #172925;
  }
  &__icon {
    max-width: 100px;
    height: auto;
    margin-right: 26px;
  }
  &__text {
    max-width: 880px;
    margin-bottom: 20px;
    font-size: px-to-em(20);
    line-height: lh-to-pct(28, 20);
    font-weight: 400;
    text-align: center;
  }
  &__slider {
    display: flex;
    max-width: 100%;
  }
  .swiper-slide {
    width: 100% !important;
  }
  &__item {
    display: flex;
    align-items: center;
    column-gap: 40px;
    width: 100%;
    padding: 0 10px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30%;
  }
  &__house-title {
    margin-bottom: 12px;
    font-family: "Jost", sans-serif;
    font-size: px-to-em(34);
    line-height: lh-to-pct(49, 34);
    font-weight: 700;
    color: #172925;
  }
  &__house-text {
    margin-bottom: 6px;
    font-size: px-to-em(16);
    line-height: lh-to-pct(26, 16);
    font-weight: 400;
  }
  &__house-price {
    margin-bottom: 24px;
    font-size: px-to-em(24);
    line-height: lh-to-pct(35, 24);
    font-weight: 600;
    color: #172925;
  }
  &__btn-reserve {
    padding: 18px 50px;
    border-radius: 40px;
    background-color: #A04337;
    font-size: px-to-em(24);
    line-height: lh-to-pct(35, 24);
    font-weight: 700;
    color: #fff;
    &:hover {
      background-color: #172925;
    }
  }
  &__photos {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
      "big sm1"
      "big sm2";
    gap: 4px;
    width: 70%;
    max-height: 450px;
    max-width: 100%;
  }
  &__photo-box {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 32px;
    text-decoration: none;
    outline: none;
    &--1 {
      grid-area: big;
    }
    &--2 {
      grid-area: sm1;
    }
    &--3 {
      grid-area: sm2;
    }
    &:nth-child(n+4) {
      display: none;
    }
  }
  &__photo {
    display: block;
    max-width: 1200px;
    width: 100%;
    height: 100%;
    border-radius: 32px;
    object-fit: cover;
    &:hover {
      transform: scale(1.1);
    }
  }
  &__navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    padding-top: 16px;
  }
  &__nav {
    cursor: pointer;
    &:hover {
      path {
        fill: #A04337;
      }
    }
  }
  @media screen and (max-width: 1299.98px) {
    &__photos {
      height: 480px;
      max-height: 480px;
    }
  }
  @media screen and (max-width: 1199.98px) {
    &__area {
      padding: 0 50px 100px;
    }
    &__title {
      margin-bottom: 20px;
    }
    &__icon {
      max-width: 80px;
      margin-right: 20px;
    }
    &__house-title {
      font-size: px-to-em(28);
    }
    &__house-price {
      font-size: px-to-em(20);
    }
    &__btn-reserve {
      padding: 18px 50px;
      font-size: px-to-em(20);
    }
    &__btn-more {
      padding: 12px 76px;
      font-size: px-to-em(18);
    }
    &__photos {
      height: 430px;
    }
  }
  @media screen and (max-width: 991.98px) {
    &__area {
      padding: 0 30px 70px;
    }
    &__title {
      font-size: px-to-em(40);
    }
    &__icon {
      max-width: 60px;
      margin-right: 16px;
    }
    &__text {
      margin-bottom: 16px;
      font-size: px-to-em(18);
    }
    &__item {
      column-gap: 20px;
    }
    &__content {
      width: 40%;
    }
    &__house-title {
      font-size: px-to-em(24);
    }
    &__house-text {
      font-size: px-to-em(14);
    }
    &__house-price {
      font-size: px-to-em(18);
    }
    &__btn-reserve {
      padding: 14px 40px;
      font-size: px-to-em(18);
    }
    &__btn-more {
      padding: 10px 64px;
      font-size: px-to-em(16);
    }
    &__photos {
      width: 60%;
      height: 370px;
    }
  }
  @media screen and (max-width: 767.98px) {
    &__area {
      padding: 0 12px 60px;
    }
    &__title {
      margin-bottom: 16px;
      font-size: px-to-em(32);
    }
    &__icon {
      max-width: 50px;
      margin-right: 12px;
    }
    &__text {
      font-size: px-to-em(16);
    }
    &__slider {
      padding-right: 4px !important;
    }
    &__item {
      flex-direction: column-reverse;
      gap: 20px 0px;
      padding: 0;
    }
    &__content {
      width: 100%;
    }
    &__house-price {
      margin-bottom: 20px;
    }
    &__btn-reserve {
      width: 100%;
      text-align: center;
    }
    &__photos {
      width: 100%;
      height: 370px;
    }
  }
  @media screen and (max-width: 575.98px) {
    &__title {
      flex-direction: column;
      row-gap: 2px;
      margin-bottom: 12px;
      font-size: px-to-em(22);
    }
    &__icon {
      max-width: 40px;
      margin-right: 0;
    }
    &__text {
      margin-bottom: 16px;
      font-size: px-to-em(14);
    }
    &__item {
      gap: 16px 0;
    }
    &__house-title {
      margin-bottom: 10px;
      font-size: px-to-em(20);
    }
    &__house-text {
      margin-bottom: 10px;
      font-size: px-to-em(12);
    }
    &__house-price {
      font-size: px-to-em(14);
    }
    &__btn-reserve {
      padding: 14px 40px;
      font-size: px-to-em(14);
    }
    &__btn-more {
      padding: 10px 50px;
      font-size: px-to-em(12);
    }
    &__photos {
      grid-template-columns: 50% 50%;
      grid-template-rows: 60% 40%;
      grid-template-areas:
        "big big"
        "sm1 sm2";
    }
    &__photo {
      border-radius: 12px;
    }
  }
  @media screen and (max-width: 359.98px) {
    &__title {
      margin-bottom: 12px;
      font-size: px-to-em(18);
    }
    &__icon {
      max-width: 30px;
    }
    &__text {
      margin-bottom: 16px;
      font-size: px-to-em(12);
    }
    &__item {
      gap: 10px 0;
    }
    &__house-title {
      margin-bottom: 6px;
      font-size: px-to-em(16);
    }
    &__house-text {
      margin-bottom: 6px;
      font-size: px-to-em(10);
    }
    &__house-price {
      margin-bottom: 10px;
      font-size: px-to-em(12);
    }
    &__btn-reserve {
      margin-bottom: 10px;
      padding: 10px 40px;
      border-radius: 20px;
      font-size: px-to-em(12);
    }
    &__btn-more {
      padding: 8px 30px;
      border-width: 1px;
      font-size: px-to-em(10);
    }
    &__photos {
      height: 250px;
    }
  }
}
