mixin space(modifier)
  section.space&attributes(attributes)
    .space__area
      h2.space__title
        img.space__icon(src="img/house-icon.png", alt="")
        | Наше простраство
      p.space__text Сайт рыба текст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.
      .space__slider
        .space__item
          .space__content
            h3.space__house-title Название коттеджа
            p.space__house-text Сайт рыба текст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.
            p.space__house-price Цена от 8500 руб/сутки
            a.space__btn-reserve(href="#") Забронировать
            a.space__btn-more(href="#") Подробнее
          .space__photos
            .space__photo-box.space__photo-box--1: img.space__photo(src="img/house1.png", alt="")
            .space__photo-box.space__photo-box--2: img.space__photo(src="img/house2.png", alt="")
            .space__photo-box.space__photo-box--3: img.space__photo(src="img/house3.png", alt="")
        //- .space__item
        //-   .space__content
        //-     h3.space__house-title Название коттеджа
        //-     p.space__house-text Сайт рыба текст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.
        //-     p.space__house-price Цена от 8500 руб/сутки
        //-     a.space__btn-reserve(href="#") Забронировать
        //-     a.space__btn-more(href="#") Подробнее
        //-   .space__photos
        //-     img.space__photo.space__photo--1(src="img/house1.png", alt="")
        //-     img.space__photo.space__photo--2(src="img/house2.png", alt="")
        //-     img.space__photo.space__photo--3(src="img/house3.png", alt="")
        //- .space__item
        //-   .space__content
        //-     h3.space__house-title Название коттеджа
        //-     p.space__house-text Сайт рыба текст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.
        //-     p.space__house-price Цена от 8500 руб/сутки
        //-     a.space__btn-reserve(href="#") Забронировать
        //-     a.space__btn-more(href="#") Подробнее
        //-   .space__photos
        //-     img.space__photo.space__photo--1(src="img/house1.png", alt="")
        //-     img.space__photo.space__photo--2(src="img/house2.png", alt="")
        //-     img.space__photo.space__photo--3(src="img/house3.png", alt="")