mixin reserve(modifier)
  section.reserve&attributes(attributes)
    h1.reserve__title
      img.reserve__icon(src="img/reserve.png", alt="")
      | Бронирование
    h2.reserve__subtitle Как происходит бронирование дома
    ul.reserve__list
      li.reserve__item
        p.reserve__stage.reserve__stage--active Выбираете дом
        p.reserve__text.reserve__text--active Сайт рыба текст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев.
      li.reserve__item
        p.reserve__stage Закрепляется резерв
        p.reserve__text Сайт рыба текст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев.
      li.reserve__item
        p.reserve__stage Подтверждение брони
        p.reserve__text Сайт рыба текст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев.
